<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"></h4>
    <button type="button" class="close" aria-label="Close" mat-dialog-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <h2 class="modal-title" id="modal-basic-title">¿Estas seguro de eliminar la Caja {{data.box_number}} ?</h2>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="btneliminarcaja()">Aceptar</button>
  </div>
